.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.information {
  margin: 2rem;
  font-size: 1.25em;
  position: inherit;
  bottom: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
